/* Angel Yang
 * main.css
 */

body {
	background-color: #000000;
	margin: 0;
}


.dark {
	background-color: #000000;
	color: #FFFFFF;
}


.medium {
	background-color: #E6E6E6;
}


.light {
	background-color: #FAFAFA;
}


.container {
	width: 90%;
	padding: 5%;
	margin: auto;
}


.name {
	padding-top: 30rem;
	padding-bottom: 30rem;
	height: 100%;
	text-align: center;
}


.circle {
	background-image:url("Images/Circle.jpg");
	background-size: cover;
	border-radius: 50%;
	padding-bottom: 100%;
}


.description {
	height: 100%;
	font-size: 1.55em;
	padding-left: 2%;
}


h1 {
	font-family: 'Roboto Condensed', sans-serif !important;
	font-weight: 300 !important;
	font-size: 4em !important;
}


h4 {
	color: #800000 !important;
}


.icons {
	word-spacing: 1em;
	text-align: center;
}


.icons img {
	width: 15%;
}


img {
	width: 100%;
}


.right {
	text-align: right;
}